<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/d3ce56b2-5de9-43f8-9b95-583fa381af35/resourceGroups/container-apps/providers/Microsoft.ContainerRegistry/registries/chitchatapi</ResourceId>
    <ResourceName>chitchatapi</ResourceName>
    <ResourceGroup>container-apps</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://chitchatapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2f50cb33-a1b3-4d9e-836a-9662870b7f7b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>